<!-- 全局头部定义 -->
<head th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script th:src="@{/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/css/ie8.css}"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{/css/ie9.css}"/><![endif]-->
</head>

<!-- Header -->
<header th:fragment="wrapper" id="header" class="alt">
    <h1><a th:href="@{/}">大数据报告</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>菜单</span></a>
                <div id="menu">
                    <ul>
                        <li><a th:href="@{/}">主页</a></li>
                        <li><a th:href="@{/reportTemplate/}">模板详情</a></li>
                        <li><a th:href="@{/templateConfig/}">模板设置</a></li>
                        <li><a th:href="@{/email/}">邮件中心</a></li>
                        <li><a th:href="@{/addressBook/}">通讯录</a></li>
                        <li><a th:href="@{/login}">登陆</a></li>
                        <li><a href="javascript:void (0);">登出</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div th:fragment="bootStrap">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/report.css}"/>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script>
        $(function () {
            $(window).resize(function () {
                content();
            });
            content();
        });
        var content = (function () {
            var windowHeight = $(window).height();
            var detailHeight = windowHeight-100;
            if(windowHeight<400){
                detailHeight = 400;
            }
            $("#detail-content").css("minHeight", detailHeight + "px");
        });
    </script>
</div>
<div th:fragment="foot">
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; 大数据报告</li>
            <li>Design: weiqiang <a href="http://bonce.5166.info/report/" target="_blank" title="大数据报告">大数据报告</a></li>
        </ul>
    </footer>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <!--<script th:src="@{/js/jquery.min.js}"></script>-->
    <script th:src="@{/js/jquery.scrollex.min.js}"></script>
    <script th:src="@{/js/jquery.scrolly.min.js}"></script>
    <script th:src="@{/js/skel.min.js}"></script>
    <script th:src="@{/js/util.js}"></script>
    <!--[if lte IE 8]>
    <script th:src="@{/js/ie/respond.min.js}"></script><![endif]-->
    <script th:src="@{/js/main.js}"></script>
</div>